<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  colors="true"
  bootstrap="tests/bootstrap.php">
  <filter>
    <whitelist>
      <directory suffix=".php">src/</directory>
    </whitelist>
  </filter>
  <testsuite name="Curl Test Suite">
    <directory>tests/</directory>
  </testsuite>
</phpunit>
