<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  colors="true"
  bootstrap="vendor/autoload.php">
  <filter>
    <blacklist>
      <directory suffix=".php">vendor/</directory>
    </blacklist>
  </filter>
  <testsuite name="Curl Test Suite">
    <directory>test/</directory>
  </testsuite>
</phpunit>
